@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.formContainer {
  background-color: #7ba7d4;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: #131225;
      font-weight: bold;
      font-size: 24px;

    }

    .title {
      color: #04040d;
      font-size: 24px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid #a7bcff;
        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }

      button {
        background-color: #7b96ec;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #8da4f1;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }
    p {
      color: #5d5b8d;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

.home {
  background-color: #7ba7d4;
  height: 100vh;
  width: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid #a7bcff;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
    @include tablet {
     width: 90%;
    }

    .sidebar {
      flex: 1;
      background-color: #ffffff;
      position: relative;

      .navbar {
        display: flex;
        align-items: center;
        background-color: #7b96ec;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        color: #000000;

        .logo {
          font-weight: bold;
          @include tablet {
            display: none;
          }
        }

        

        .user {
          display: flex;
          gap: 10px;

          img {
            background-color: #101011;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }
          button {
            background-color: #173fc5;
            color: #ddddf7;
            font-size: 10px;
            border: none;
            cursor: pointer;
            @include tablet {
              position: absolute;
              bottom: 10px;
            }
          }
        }
      }
          }
        }
      }

      .home2 {
        background-color: #7ba7d4;
        height: 150vh;
        width: 200vh;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        }
    

    
      .How_it_Works__Flowbase_co {
        width: 1295px;
        height: 786px;
        background: #ffffff;
        .Welcome {
          color: #07090d;
          font-family: Inter;
          font-size: 44px;
          font-weight: normal;
          line-height: 60px;
          // Text Fill style: Neutral/900;
        }
        .Welcome_to_Rekrunet__an_AI_Recruitement_System_Made_for_the_passionate__talented_job_professionals_ {
          color: #818a9c;
          font-family: Inter;
          font-size: 16px;
          font-weight: normal;
          line-height: 28px;
          // Text Fill style: Neutral/500;
          // Text style: Body/M;
        }
        .Button {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 12px 24px;
          width: 160px;
          height: 48px;
          background: #1355ff;
          border-radius: 6px;
          // Fill style: Blue/Base;
          .Button {
            color: #ffffff;
            font-family: Inter;
            font-size: 14px;
            font-weight: medium;
            line-height: 24px;
            // Text Fill style: Neutral/0;
            // Text style: Content/Button;
          }
        }
        .Card_01 {
          display: flex;
          flex-direction: column;
          padding: 40px 32px;
          width: 20px;
          height: 88px;
          background: #ffffff;
          border: 1px solid #e7e9ed;
          border-radius: 8px;
          // Fill style: Gray/White;
          // Stroke style: Neutral/200;
          .Frame_1 {
            display: flex;
            flex-direction: column;
            width: 256px;
            height: 184px;
            .Icon {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              padding: 12px 12px;
              width: 56px;
              height: 56px;
              background: #eff4ff;
              border-radius: 4px;
              margin-bottom: 32px;
              // Fill style: Blue/Lighter;
              ._2 {
                color: #1355ff;
                font-family: Abril Fatface;
                font-size: 24px;
                font-weight: normal;
                text-align: center;
                line-height: 32px;
                // Text Fill style: Blue/Base;
              }
            }
            .Text {
              display: flex;
              flex-direction: column;
              width: 256px;
              height: 96px;
              .Update_Resume {
                color: #07090d;
                font-family: Inter;
                font-size: 24px;
                font-weight: normal;
                line-height: 32px;
                margin-bottom: 16px;
                // Text Fill style: Neutral/900;
              }
              .Update_your_resume_and_job_preferences_ {
                color: #586174;
                font-family: Inter;
                font-size: 14px;
                font-weight: normal;
                line-height: 24px;
                // Text Fill style: Neutral/600;
                // Text style: Body/S;
              }
            }
          }
        }
        .Card_01 {
          display: flex;
          flex-direction: column;
          padding: 40px 32px;
          width: 20px;
          height: 64px;
          background: #ffffff;
          border: 1px solid #e7e9ed;
          border-radius: 8px;
          // Fill style: Gray/White;
          // Stroke style: Neutral/200;
          ._4 {
            color: #1355ff;
            font-family: Abril Fatface;
            font-size: 24px;
            font-weight: normal;
            text-align: center;
            line-height: 32px;
            // Text Fill style: Blue/Base;
          }
        }
        .Help {
          color: #07090d;
          font-family: Inter;
          font-size: 24px;
          font-weight: normal;
          line-height: 32px;
          margin-bottom: 16px;
          // Text Fill style: Neutral/900;
        }
        .Any_Issues__Please_dont_hesitate_to_ask_us_anything_ {
          color: #586174;
          font-family: Inter;
          font-size: 14px;
          font-weight: normal;
          line-height: 24px;
          // Text Fill style: Neutral/600;
          // Text style: Body/S;
        }
      }
      .Frame_1 {
        display: flex;
        flex-direction: column;
        width: 256px;
        height: 208px;
        ._1 {
          color: #1355ff;
          font-family: Abril Fatface;
          font-size: 24px;
          font-weight: normal;
          text-align: center;
          line-height: 32px;
          // Text Fill style: Blue/Base;
        }
      }
      .Text {
        display: flex;
        flex-direction: column;
        width: 256px;
        height: 120px;
        .Check_For_Tests {
          color: #07090d;
          font-family: Inter;
          font-size: 24px;
          font-weight: normal;
          line-height: 32px;
          margin-bottom: 16px;
          // Text Fill style: Neutral/900;
        }
        .Check_for_Recruitement_Tests_put_out_by_the_company_based_on_the_jobs_you_prefer_ {
          color: #586174;
          font-family: Inter;
          font-size: 14px;
          font-weight: normal;
          line-height: 24px;
          // Text Fill style: Neutral/600;
          // Text style: Body/S;
        }
      }
      ._3 {
        color: #1355ff;
        font-family: Abril Fatface;
        font-size: 24px;
        font-weight: normal;
        text-align: center;
        line-height: 32px;
        // Text Fill style: Blue/Base;
      }
      .Check_Notifications {
        color: #07090d;
        font-family: Inter;
        font-size: 24px;
        font-weight: normal;
        line-height: 32px;
        margin-bottom: 16px;
        // Text Fill style: Neutral/900;
      }
      .Check_the_results_based_on_your_tests__Hope_you_get_the_job {
        color: #586174;
        font-family: Inter;
        font-size: 14px;
        font-weight: normal;
        line-height: 24px;
        // Text Fill style: Neutral/600;
        // Text style: Body/S;
      }
      .image_1 {
        width: 294px;
        height: 238px;
        background-image: url("./img/logo.png");
        background-size: cover;
      }
      